BraveSoftware
Code
Code - OSS
libreoffice
chromium
nvim
gtk-2.0
gtk-4.0
github-copilot
WebCord
yay
go
swi-prolog
dconf
Electron
pulse
hardhat-nodejs
nextjs-nodejs
nautilus
xfce4
xsettingsd
QtProject.conf
user-dirs.locale
GIMP

/code-flags.conf
/user-dirs.dirs
/trashrc
/hypr/dynamic-border.conf
/hypr/device-settings.conf

/wallpaper
/wlogout/style.css
/swaync/style.css
/waybar/style.css
/oh-my-posh/themes/current_theme.omp.json
